<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-md-4">
      <form class="" action="index.html" method="post">
        <div class="form-group">
          <input type="text" name="name" value=""#search class="form-control">
        </div>
        <div class="">
          <button type="button" name="button"(click)='searchfunc(search)'>Search</button>
        </div>
      </form>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col-md-6 my-5">
        <h4>Name:<span class="text-danger">{{users.name}}</span></h4><br>
        <h5>Company:<span class="text-danger">{{users.company}}</span></h5><br>
        <h5>Blog:<span class="text-danger">{{users.blog}}</span></h5><br>
        <h5>Location:<span class="text-danger">{{users.location}}</span></h5><br>
        <h5>Bio:<span class="text-danger">{{users.bio}}</span></h5><br>
        <h5>Created on:<span class="text-danger">{{users.created_at}}</span></h5>
      </div>

      <div class="col-md-6">
        <p><img src="{{users.avatar_url}} "></p>
      </div>
    </div>
</div>
